$paddingTop: 24px;
/*! sss1*/
.simple-rule {
	padding-top: $paddingTop /* {$paddingTop, .p1}*/;
	transform: translateX(24px) /* translateX({24px, .p1})*/;
	
	.nested-rule-inside-simple-rule {
		margin-bottom: 24px /* {24px, .p1}*/;
		transform: translateY(24px) /* translateY({24px, .p1})*/;
	}
}