@import 'partials/_example_partial.scss';

/*! Import separator */

$topOffset: 24px;

.rule {
	padding-top: $topOffset /* {$topOffset, .p1} */;
}

.parent-rule .rule {
	margin-top: $topOffset /* {$topOffset, .p1, h1} */;
}

@media (min-width: 1499px) {
	.rule-inside-media {
		transform: translateY($topOffset) /* translateY({$topOffset, .p1, h1})*/;
	}

	.parent-rule .rule-inside-media {
		top: $topOffset /* {$topOffset, .p1, h1} */;
	}
}